<section class="py-5 text-center container flex-grow-1">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light" data-testid="home-page-title">Welcome to the Web Bank Application</h1>
            <p class="lead text-muted" data-testid="home-page-subtitle">Something short and leading about the Bank App.</p>
            <p>
                <button class="btn btn-primary my-2" data-testid="home-page-primary-cta">Main call to action</button>
                <button class="btn btn-secondary my-2" data-testid="home-page-secondary-cta">Secondary action</button>
            </p>
        </div>
    </div>
</section>