<div class="container flex-grow-1">
    <div class="row my-5">
        <div class="col">
            <!-- @alert-login -->
            <form action="/login" method="post" data-testid="login-form" id="login-form">
                <h1>Login form</h1>
                <div class="mb-3">
                    <label for="user" class="form-label">User name</label>
                    <input name="user" type="text" class="form-control" id="user" data-testid="user-name-input">
                    <div class="invalid-feedback" id="error-user" aria-live="polite"></div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="password" data-testid="user-password-input">
                    <div class="invalid-feedback" id="error-password" aria-live="polite"></div>
                </div>
                <button type="submit" class="btn btn-primary" data-testid="submit-button" id="submit-button">Submit</button>
            </form>
        </div>
    </div>
</div>